__pycache__
*.venv
venv
*.idea
build
dist
node_modules/
TestTool.spec
.trae/
README_TRAE.md
test_env.py
activate_trae_env.py
session.json
credentials.json

/quality_management_platform/tools/jmeter/apache-jmeter-5.6.3